<div class="modal-header">
  <button type="button" (click)="close()" class="close pull-right" data-dismiss="modal" aria-label="Close"
    style="color:#000000">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <img id="carta-imagem" src="https://dkw5ssdvaqf8l.cloudfront.net/static/psr/br/framework/yii/images/content/pt-br/product/tarot/marselha/162x341/{{item.image}}" alt="">
    </div>
    <div class="col-md-6">
      <h6>{{item.name}}</h6>
      <p>{{descricao}} </p>
    </div>
  </div>

</div>